@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
body {
    background: url('bg.jpg') no-repeat center center fixed; 
    background-size: cover;    
    color:white;
}
#glowny
{
    width:1000px;
    margin:auto;
    font-family: 'open sans',arial,sans-serif;
}
header
{
    margin-top:5%;
    border-radius:5px;
    background:rgba(37,37,37,0.5);
    text-align:center;
    padding:35px 0px 55px 0px;
    transition:all 1s;
}
header:hover
{
    box-shadow:2px 2px 20px #252525;
    transition:all 3s;
}
nav
{
    margin-top:1%;
    background:rgba(37,37,37,0.5);
    height:40px;
    line-height:40px;
    border-radius:5px;
    text-align:center;
}
#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-left:500px;
    border-radius: 0 0 0.5em 0.5em;
    background:rgba(37,37,37,0.7);
}
#sticky
{
    margin:auto;
    width:400px;
}
article
{
    background:rgba(37,37,37,0.5);
    transition:all 1s;
    margin-top:1%;
    border-radius:5px;
    padding:25px 35px 25px 35px;
    font-size:90%;
    height:750px;
    overflow:auto;
}
ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
}

ul a:link, ul a:visited {
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    color:white;
    font-weight:bold;
    transition:all 0.4s;
}

ul a:hover {
    background:rgba(37,37,37,0.6);
    transition:all 0.4s;
}
a {
    color:white;
    text-decoration:underline;
}
article li
{
    padding-bottom:6px;
}
article:hover
{
    background:rgba(37,37,37,0.7);
    transition:all 3s;
}
footer 
{
    margin-top:1%;
    text-align:center;
    font-size:12px;
    padding:5px;
    background:rgba(37,37,37,0.5);
}
